* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #2821ad;
}

a:visited {
    color: #0d7211;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}